{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
<br><br>
  <!--  <h1>Bienvenue sur le service bancaire en ligne de l'Arab Tunisian Bank "ATBNET"</h1>-->
    <nav class="navbar navbar-default nav-main" role="navigation" id="Navigation">
        <div class="container container-fluid">

            <div class="container-fluid hidden-xs"><div class="dropdown-back"></div>

            </div>
        </div>
    </nav>


    <div >

        <div class="bar"></div>
        <div  runat="server" ><div class="zone zone-featured">
                <article class="widget-featured widget-html-widget widget">
                    <p><img src="{{ asset('images/ahla.png') }}" width="100%" height="auto"></p>
                </article></div></div>
    </div>
  <br><br>
   <center><div align="center"> <a><img src="{{ asset('images/banner3.png') }}" alt="IMG-LOGO"  ></a></div></center>

    <center>
        <table>
            <form method="post" style="text-align: center">
                <tr>
                    <td >Identifiant</td>
                    <td> </td>
                    <td><input class="inputfarah" type="text" id="username"  name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </td>
                    </tr>

                <tr>
                    <td><br>Mot de passe   </td>
                    <td> </td>
                    <td><br><input class="inputfarah" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                    </td>
                </tr>
                <br><br>
                <br>
                <!--<tr>
                <td><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </td>
                    <right><td>Remember me</td></right>
                <br><br><br>
                </tr>

            -->
                <tr> </tr>
                <tr>
                    <br>
                    <td></td>


                    <td style="text-align: center">

                        <center>
                            <br><br>
                            <input width="50" type="submit"  id="_submit" name="_submit" value="Connexion" />
                            <br><br><br>
                        </center>
                    </td>
                </tr>
            </form>
        </table>
   </center>
</form>
