{% extends 'base3.html.twig' %}
{% block content %}

    <br><br>

    <h3 class="subtitle fancy"><span><a href=""> Services</a></span></h3>
    <br>
<br>
    <center>
        <table >
            <form method="post" style="text-align: center">

                <tr>
                    <td style="font-weight: bold"> Numéro de compte: </td>

                    <td >
                        <select name="numCompte" class="form-control input-focus " style="height: 3%">
                            {% for i in em %}
                            <option  value="{{ i.numCompte }}">{{ i.numCompte }}(TND) {{ i.typeCompte }}</option>

                            {% endfor %}
                        </select></td>
                    </td>
                    <td></td>
                    <td style="font-weight: bold"> Type d'opération:</td>
                    <td >
                        <select name="Type" class="form-control input-default ">
                            <option  value="Disponible">Tous</option>
                            <option  value="Disponible">Débit</option>
                            <option selected="selected" value="Non disponible">Crédit</option>
                        </select></td>
                    </td>
                </tr>

                <tr>


                    <td style="font-weight: bold" >
                        <input type="radio" name="choix"/>Date :
                    </td>

                    <td style="font-weight: bold"><br>Du
                        <br><input type="date"></td>

                    <td style="font-weight: bold"><br>Au
                        <br> <input type="date">
                    </td>


                </tr>



                <tr>
                    <td> <br></td>
                    <td><br> </td>

                    <td><br><br><a href="{{ absolute_url(asset('')) }}app_dev.php/atb/afficherHistoriquecredit/0532984751364/Crédit" type="submit" class="btn btn-danger"  >

                            Voir </a>
                    </td>

                    <td><br><br><a href="{{ absolute_url(asset('')) }}app_dev.php/atb/afficherHistoriquecredit" type="submit" class="btn btn-danger"  >

                            Imprimer </a>
                    </td>
                    <br>
                </tr>
                <br>

            </form>
        </table></center>



    <br>



    <br><br>




{% endblock %}
