{% extends 'base3.html.twig' %}
{% block content %}
    <br><br>


    <h3 class="subtitle fancy"><span><a href="{{ path('afficherCompte') }}"> Mes comptes</a></span></h3>


    <br><br>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>

            <th>N° compte</th>
            <th>Type de compte</th>
            <th>Devise</th>
            <th>Solde actuel</th>
            <th>Solde disponible</th>
            <th>Solde actuel en TND</th>

        </tr>
        </thead>
        <tbody>

        {% for i in solde %}
            <tr>

                <td>{{ i.numCompte }}</td>

                <td>{{ i.typeCompte }}  </td>
                <td>{{ i.deviseCompte }}</td>
                <td>{{ i.soldeActuel }}</td>
                <td>{{ i.soldeDisponible }}</td>
                <td>{{ i.soldeActueltnd }}</td>



            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
